# CDT
.DS_Store
.cproject
.project

#datasets
datasets/

#outputs
*.off

# Compiled Object files
*.slo
*.lo
*.o
*.exe
*.d

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
